apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  namespace: {{ gitlabrunner_namespace }}
  name:      docker-secret
data:
  .dockerconfigjson: {{ gitlabrunner_docker_config_json | to_json | b64encode }}

