dcgm:
  enabled: true
driver:
  repository: {{ gpu_operator_driver_repository }}
{% if gpu_operator_driver_version |length > 0 %}
  #version: "550.127.08"
  version: "{{ gpu_operator_driver_version }}"
{% endif %}
operator:
  defaultRuntime: crio

node-feature-discovery:
  master:
    affinity:
      {{ gpu_operator_node_feature_discovery_master_affinity| to_nice_yaml(indent=8) }}

  worker:
    affinity:
      {{ gpu_operator_node_feature_discovery_worker_affinity| to_nice_yaml(indent=8) }}
