apiVersion: v1
kind: PersistentVolume
metadata:
  name: vault-unseal-pv
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 1Gi
  claimRef:
    kind: PersistentVolumeClaim
    name: vault-unseal
    namespace: {{ vault_unseal_namespace }}
  nfs:
    path:   {{ vault_unseal_nfs_server_path }}
    server: {{ vault_unseal_nfs_server }}
  persistentVolumeReclaimPolicy: Retain
  storageClassName: {{ vault_unseal_storage_class }}
  volumeMode: Filesystem
