logLevel: {{ external_dns_log_level }}

provider: {{ external_dns_provider }}
extraEnvVars:
{% for item in external_dns_extra_env %}
- name:  {{ item.name }}
  value: {{ item.value }}
{% endfor %}

{% if external_dns_rfc2136_host | length > 0 %}
rfc2136:
  host: {{ external_dns_rfc2136_host }}
  port: {{ external_dns_rfc2136_port }}
  zone: {{ external_dns_rfc2136_zone }}
  tsigSecret: {{ external_dns_rfc2136_tsig_secret }}
  tsigSecretAlg: {{ external_dns_rfc2136_tsig_secret_alg }}
  tsigKeyname: {{ external_dns_rfc2136_tsig_keyname }}
{% endif %}

crd:
  create: {{ external_dns_crd_create | default('false') | lower }}

sources: {{ external_dns_sources }}
domainFilters: {{ external_dns_domain_filters }}

extraArgs: {{ external_dns_extra_args }}
