{
  "namespace": "{{ item.namespace }}",
  "name": "{{ item.name }}", 
  "port":  5432,
  "database_name":     "{{ item.database_name }}",
  "database_username": "{{ item.database_username }}",
  "database_password": "{{ item.database_password }}"
}
