global:
  storageClass: "{{ postgresql_storage_class }}"
  postgresql:
    # older Versions of helm chart
    postgresqlDatabase: "{{ item.database_name }}"
    postgresqlUsername: "{{ item.database_username }}"
    postgresqlPassword: "{{ item.database_password }}"
    # Newer versions, at least helm chart 12.3.1
    auth:
      database: "{{ item.database_name }}"
      username: "{{ item.database_username }}"
      password: "{{ item.database_password }}"

persistence:
  storageClass: "{{ postgresql_storage_class }}"
{% if postgresql_node_selector is defined and postgresql_node_selector is mapping %}
primary:
  nodeSelector:
    {{ postgresql_node_selector | to_yaml(indent=4) }}
{% endif %}
