installCRDs: true
extraArgs:
{% if cert_manager_dns01_recursive_nameservers_only %}
  - '--dns01-recursive-nameservers-only'
{% endif %}
{% if cert_manager_dns01_recursive_nameservers | length != 0 %}
  - '--dns01-recursive-nameservers={{ ",".join(cert_manager_dns01_recursive_nameservers) }}'
{% endif %}
