apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ traefik_forward_auth_namespace }}
  name:      {{ config.name }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: {{ traefik_forward_auth_namespace }}-{{ config.name }}@kubernetescrd

spec:
  rules:
  - host: {{ config.auth_host }}
    http:
      paths:
      - backend:
          service:
            name: {{ config.name }}-oauth
            port:
              number: 4181
        path: /
        pathType: Prefix
