apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ rook_argocd_namespace }}
  name:      {{ rook_helm_cluster_release_name }}
spec:
  destination:
    server:    {{ rook_argocd_destination_server }}
    namespace: {{ rook_namespace }}
  project: {{ rook_argocd_project }}
  source:
    repoURL:        {{ rook_helm_repo_url }}
    chart:          {{ rook_helm_cluster_chart_name }}
    targetRevision: {{ helm_cluster_chart_version }}
    helm:
      parameters:
{{ rook_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
