apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  namespace: {{ vault_namespace }}
  name:      vault-tls
spec:
  dnsNames:
    - {{ vault_fqdn }}
  issuerRef:
    kind: ClusterIssuer
    name: {{ vault_cluster_issuer_name }}
  secretName: vault-tls
  duration: {{ vault_certificate_duration }}
  renewBefore: {{ vault_certificate_renewbefore }}
