# https://github.com/hashicorp/vault-helm/blob/main/values.yaml
csi:
  enabled: true

#injector:
#  image:
#    repository: "hashicorp/vault-k8s"
#    tag: "0.13.1"

server:
  ingress:
    enabled: true
    ingressClassName: "traefik"
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
    - host: "{{ vault_fqdn }}"
    tls: {{ vault_server_ingress_tls }}

  service:
    enabled: true
  ha:
    enabled: true
    replicas: 3
    raft:
      enabled: true
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/vault/data"
        }

        service_registration "kubernetes" {}
  dataStorage:
    storageClass: "{{ vault_data_storage_storage_class }}"

  auditStorage:
    enabled: "true"
    storageClass: "{{ vault_audit_storage_storage_class }}"

  readinessProbe:
    enabled: true
    path: /v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204

#  postStart:
#    - /bin/sh
#    - -ec
#    - >
#      sleep 5;
#      echo "path \"/*\" { capabilities = [\"create\", \"read\", \"update\", \"delete\", \"list\",\"sudo\"]}" | vault policy write  vault-admin -;
#      vault auth enable -tls-skip-verify -path prod1-admin kubernetes ;
#      vault write -tls-skip-verify auth/prod1-admin/config kubernetes_host="https://$KUBERNETES_PORT_443_TCP_ADDR:443" token_reviewer_jwt="$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)" kubernetes_ca_cert=@/var/run/secrets/kubernetes.io/serviceaccount/ca.crt issuer="https://kubernetes.default.svc.cluster.local";
#      vault write -tls-skip-verify auth/prod1-admin/role/vault-admin bound_service_account_names=default bound_service_account_namespaces=vault-admin policies=vault-admin ttl=1h

ui:
  enabled: true
  serviceType: "ClusterIP"
