apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ argo_workflows_argocd_namespace }}
  name:      {{ argo_workflows_helm_release_name }}
spec:
  destination:
    server:    {{ argo_workflows_argocd_destination_server }}
    namespace: {{ argo_workflows_namespace }}
  project: {{ argo_workflows_argocd_project }}
  source:
    repoURL:        {{ argo_workflows_helm_repo_url }}
    chart:          {{ argo_workflows_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ argo_workflows_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
