apiVersion: v1
kind: Secret
type: Opaque
metadata:
  namespace: {{ argo_workflows_namespace }}
  name:      credentials-postgresql
stringData:
  username: {{ argo_workflows_credentials_postgresql.database_username }}
  password: {{ argo_workflows_credentials_postgresql.database_password }}
