apiVersion: v1
kind: Secret
type: Opaque
metadata:
  namespace: {{ argo_workflows_namespace }}
  name:      credentials-s3
stringData:
  accesskey: {{ argo_workflows_credentials_s3.aws_access_key_id     }}
  secretkey: {{ argo_workflows_credentials_s3.aws_secret_access_key }}

