apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ argocd_namespace }}
  name:      nfs-subdir-external-provisioner
spec:
  destination:
    namespace: {{ nfs_subdir_external_provisioner_namespace }}
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL:        {{ nfs_subdir_external_provisioner_chart_url  }}
    chart:          {{ nfs_subdir_external_provisioner_chart_name }}
    targetRevision: {{ nfs_subdir_external_provisioner_chart_version }}
    helm:
      parameters:
      - name: nfs.path
        value: {{ nfs_subdir_external_provisioner_path }}
      - name: nfs.server
        value: {{ nfs_subdir_external_provisioner_server }}
{% if nfs_subdir_external_provisioner_mount_options is defined %}
{% for item in nfs_subdir_external_provisioner_mount_options %}
      - name: nfs.mountOptions[{{ loop.index0 }}]
        value: {{ item }}
{% endfor %}
{% endif  %}
{% if nfs_subdir_external_provisioner_storage_class_name is defined %}
      - name: storageClass.name
        value: {{ nfs_subdir_external_provisioner_storage_class_name }}
{% endif  %}
{% if nfs_subdir_external_provisioner_storage_class_path_pattern is defined %}
      - name: storageClass.pathPattern
        value: '{{ nfs_subdir_external_provisioner_storage_class_path_pattern }}'
{% endif  %}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
