apiVersion: v1
kind: PersistentVolume
metadata:

  name: minio-pv

  labels:
    name:        minio-pv
    volume-type: {{ minio_persistence_storage_class }}

spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 100Gi
  claimRef:
    kind:      PersistentVolumeClaim
    namespace: {{ minio_namespace }}
    name:      minio
  nfs:
    path:   {{ minio_nfs_path }}
    server: {{ minio_nfs_server }}
{% if minio_nfs_mount_options|length > 0 %}
  mountOptions:
{% for item in minio_nfs_mount_options %}
  - {{ item }}
{% endfor %}
{% endif %}
  persistentVolumeReclaimPolicy: Retain
{% if minio_persistence_storage_class is defined and minio_persistence_storage_class != "" %}
  storageClassName:              {{ minio_persistence_storage_class }}
{% endif %}
  volumeMode:                    Filesystem
