#
# https://artifacthub.io/packages/helm/bitnami/minio?modal=security-report

{% if 'aws_access_key_id' in minio_credentials %}
auth:
  rootUser:     {{ minio_credentials.aws_access_key_id }}
  rootPassword: {{ minio_credentials.aws_secret_access_key }}
{% endif %}
ingress:
  enabled: true
  hostname: "{{ minio_gui_fqdn }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    traefik.ingress.kubernetes.io/router.tls: "true"

extraEnvVars: {{ extraEnvVars }}


apiIngress:
  enabled: true
  hostname: "{{ minio_api_fqdn }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    traefik.ingress.kubernetes.io/router.tls: "true"
  extraHosts:
  - name: "*.{{ minio_api_fqdn }}"
    path: "/"

persistence:
  storageClass: "{{ minio_persistence_storage_class }}"
