apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ tetragon_argocd_namespace }}
  name:      {{ tetragon_helm_release_name }}
spec:
  destination:
    server:    {{ tetragon_argocd_destination_server }}
    namespace: {{ tetragon_namespace }}
  project: {{ tetragon_argocd_project }}
  source:
    repoURL:        {{ tetragon_helm_repo_url }}
    chart:          {{ tetragon_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ tetragon_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
