apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ argocd_namespace }}
  name:      argo-workflows
spec:
  destination:
    server:    {{ argo_workflows_argocd_destination_server }}
    namespace: {{ argo_workflows_namespace }}
  project: default
  source:
    repoURL:        {{ argo_workflows_chart_url  }}
    chart:          {{ argo_workflows_chart_name }}
    targetRevision: {{ argo_workflows_chart_version }}
    helm:
      parameters:
      - name:  server.ingress.enabled
        value: "true"
        forceString: true
      - name:  server.ingress.annotations.traefik\.ingress\.kubernetes\.io\/router\.entrypoints
        value: "websecure"
      - name:  server.ingress.annotations.traefik\.ingress\.kubernetes\.io\/router\.tls
        value: "true"
        forceString: true
      - name:  server.ingress.hosts[0]
        value: "{{ argo_workflows_fqdn }}"
      - name: server.sso.issuer
        value: "https://argocd.{{ argo_workflows_domain }}/api/dex"
      - name: server.sso.clientId.name
        value: "argocd-repo-creds-argo-workflows-sso"
      - name: server.sso.clientId.key
        value: "client-id"
      - name: server.sso.clientSecret.name
        value: "argocd-repo-creds-argo-workflows-sso"
      - name: server.sso.clientSecret.key
        value: "client-secret"
      - name: server.sso.redirectUrl
        value: "https://{{ argo_workflows_fqdn }}/oauth2/callback"
      - name: server.extraArgs[0]
        value: "--auth-mode=sso"
{% if argo_workflows_nodeSelector_hostname is defined and argo_workflows_nodeSelector_hostname != "" %}
      - name: controller.nodeSelector.kubernetes\.io\/hostname
        value: {{ argo_workflows_nodeSelector_hostname }}
      - name: server.nodeSelector.kubernetes\.io\/hostname
        value: {{ argo_workflows_nodeSelector_hostname }}
{% endif %} 
      # postgresql
      - name: controller.persistence.postgresql.host
        value: {{ argo_workflows_credentials_postgresql.name }}
      - name: controller.persistence.postgresql.port
        value: "{{ argo_workflows_credentials_postgresql.port }}"
      - name: controller.persistence.postgresql.database
        value: {{ argo_workflows_credentials_postgresql.database_name }}
      - name: controller.persistence.postgresql.tableName
        value: argo_workflows
      - name: controller.persistence.postgresql.userNameSecret.name
        value: credentials-postgresql 
      - name: controller.persistence.postgresql.userNameSecret.key
        value: username
      - name: controller.persistence.postgresql.passwordSecret.name
        value: credentials-postgresql 
      - name: controller.persistence.postgresql.passwordSecret.key
        value: password
      # s3 (minio)
      - name: artifactRepository.archiveLogs
        value: "true"
      - name: artifactRepository.s3.accessKeySecret.name
        value: credentials-s3
      - name: artifactRepository.s3.accessKeySecret.key
        value: accesskey
      - name: artifactRepository.secretKeySecret.name
        value: credentials-s3
      - name: artifactRepository.secretKeySecret.key
        value: secretkey
      - name: artifactRepository.insecure
        value: "false"
      - name: artifactRepository.bucket
        value: "{{ argo_workflows_credentials_s3.bucket }}"
      - name: artifactRepository.endpoint
        value: "{{ argo_workflows_credentials_s3.url }}"
   
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
