{% set secret_name = 'argocd-repo-creds-argo-workflows-sso' %}
apiVersion: v1
kind: Secret
metadata:
  namespace: argo-workflows
  name:      {{ secret_name }}
type: Opaque
data:
  client-id:     {{ secret_name                      | b64encode }}
  client-secret: {{ argo_workflows_sso_client_secret | b64encode }}

