apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ vault_argocd_namespace }}
  name:      {{ vault_helm_release_name }}
spec:
  destination:
    server:    {{ vault_argocd_destination_server }}
    namespace: {{ vault_namespace }}
  project: {{ vault_argocd_project }}
  source:
    repoURL:        {{ vault_helm_repo_url }}
    chart:          {{ vault_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ vault_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true

