apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ external_dns_argocd_namespace }}
  name:      {{ external_dns_helm_release_name }}
spec:
  destination:
    server:    {{ external_dns_argocd_destination_server }}
    namespace: {{ external_dns_namespace }}
  project: {{ external_dns_argocd_project }}
  source:
    repoURL:        {{ external_dns_helm_repo_url }}
    chart:          {{ external_dns_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ external_dns_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true

