{
  "hostname": {{ minio_api_fqdn | to_json }},
  "url": {{ minio_api_url | to_json }},
  "aws_access_key_id": {{ minio_username | to_json }},
  "aws_secret_access_key": {{ minio_password | to_json }},
  "buckets": {{ minio_bucket_names | to_json }}
}
