apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ mosquitto_argocd_namespace }}
  name:      {{ mosquitto_helm_release_name }}
spec:
  destination:
    server:    {{ mosquitto_argocd_destination_server }}
    namespace: {{ mosquitto_namespace }}
  project: {{ mosquitto_argocd_project }}
  source:
    repoURL:        {{ mosquitto_helm_repo_url }}
    chart:          {{ mosquitto_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ mosquitto_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
