operatorNamespace: rook-ceph
cephClusterSpec:
  dashboard:
    ssl: false
  network:
    provider: "host"
  storage:
    useAllDevices: false
    deviceFilter:  "vd[c-z]"
    config:
      metadataDevice: "vdb"
  placement:
    mon:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key:      "node-role.kubernetes.io/ceph-monitor"
              operator: "Exists"
    mgr:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key:      "node-role.kubernetes.io/ceph-monitor"
              operator: "Exists"
