operatorNamespace: rook-ceph
cephClusterSpec:
  dataDirHostPath: {{ rook_ceph_cluster_data_dir_host_path }}
  dashboard:
    ssl: false
  network:
    provider: "host"
  storage:
    useAllDevices: false
    deviceFilter:  "{{ storage_device_filter }}"
    config:
      metadataDevice: "{{ storage_config_metadata_device }}"

  placement:
    mon:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key:      "node-role.kubernetes.io/ceph-monitor"
              operator: "Exists"
    mgr:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key:      "node-role.kubernetes.io/ceph-monitor"
              operator: "Exists"
