apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ keptn_argocd_namespace }}
  name:      {{ keptn_helm_release_name }}
spec:
  destination:
    server:    {{ keptn_argocd_destination_server }}
    namespace: {{ keptn_namespace }}
  project: {{ keptn_argocd_project }}
  source:
    repoURL:        {{ keptn_helm_repo_url }}
    chart:          {{ keptn_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ keptn_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true
