## @section Keptn
certManager:
  ## @param certManager.enabled Enable this value to install Keptn Certificate Manager
  enabled: {{ keptn_certmanager_enabled | lower }}
lifecycleOperator:
  ## @param lifecycleOperator.enabled Enable this value to install Keptn Lifecycle Operator
  enabled: {{ keptn_lifecycleoperator_enabled | lower }}
metricsOperator:
  ## @param metricsOperator.enabled Enable this value to install Keptn Metrics Operator
  enabled: {{ keptn_metricsoperator_enabled | lower }}

## @section Global parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

global:
  ## @param global.imageRegistry Global Docker image registry
  imageRegistry: {{ keptn_global_imageregistry | quote }}

  ## @param global.imagePullSecrets Global Docker registry secret names as an array
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: {{ keptn_global_imagepullsecrets }}
  ## @param global.imagePullPolicy Policy for pulling Docker images. Options: Always, IfNotPresent, Never
  imagePullPolicy: ""
  ## @param global.commonLabels Common annotations to add to all Keptn resources. Evaluated as a template
  commonLabels: {{ keptn_global_commonlabels | to_json }}
  ## @param global.commonAnnotations Common annotations to add to all Keptn resources. Evaluated as a template
  commonAnnotations: {{ keptn_global_annotations | to_json }}
  ## @param global.caInjectionAnnotations CA injection annotations for cert-manager.io configuration
  caInjectionAnnotations: {}
