apiGatewayNginx:
  podSecurityContext:
    enabled: true

bridge:
  podSecurityContext:
    enabled: true
  oauth:
    enabled:      {{ keptn_bridge_oauth_enabled }}
    discovery:    {{ keptn_bridge_oauth_discovery }}
    baseUrl:      {{ keptn_bridge_oauth_base_url }}
    clientID:     {{ keptn_bridge_oauth_client_id }}
    clientSecret: {{ keptn_bridge_oauth_client_secret }}
    scope:        {{ keptn_bridge_oauth_scope }}

ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
  host: {{ keptn_fqdn }}

podSecurityContext:
  enabled: true

# This whole setting for mongo is a bugfix for version 1.3
#mongo:
#  service:
#    nameOverride: mongo
#    ports:
#      mongodb: 27017

# subchart mongodb was aliased as "mongo" in keptn 
mongo:
  persistence:
    storageClass: "nfs-static"

nats:
  nats:
    jetstream:
      fileStorage:
        storageClassName: "nfs-static"


