apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ keycloak_argocd_namespace }}
  name:      {{ keycloak_helm_release_name }}
spec:
  destination:
    server:    {{ keycloak_argocd_destination_server }}
    namespace: {{ keycloak_namespace }}
  project: {{ keycloak_argocd_project }}
  source:
    repoURL:        {{ keycloak_helm_repo_url }}
    chart:          {{ keycloak_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ keycloak_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true

