{
  "admin_username": "postgres",
  "admin_password": {{ keycloak_postgresql_admin_password | to_json }},

  "database_name": "bitnami_keycloak",
  "database_port": 5432,
  "username": "bn_keycloak",
  "password": {{ keycloak_postgresql_password | to_json }}
}
