{
  "admin_username": "postgres",
  "addin_password": "{{ keycloak_postgresql_admin_password }}",

  "database_name": "bitnami_keycloak",
  "database_port": 5432,
  "username": "bn_keycloak",
  "password": "{{ keycloak_postgresql_password }}"
}
