apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: {{ velero_argocd_namespace }}
  name:      {{ velero_helm_release_name }}
spec:
  destination:
    server:    {{ velero_argocd_destination_server }}
    namespace: {{ velero_namespace }}
  project: {{ velero_argocd_project }}
  source:
    repoURL:        {{ velero_helm_repo_url }}
    chart:          {{ velero_helm_chart_name }}
    targetRevision: {{ helm_chart_version }}
    helm:
      parameters:
{{ velero_application_params }}
  syncPolicy:
    automated: {}
    syncOptions:
    - CreateNamespace=true

