apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ argo_dataflow_namespace }}
  name:      argo-dataflow
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  rules:
  - host: {{ argo_dataflow_fqdn }}
    http:
      paths:
      - backend:
          service:
            name: argo-server
            port:
              number: 2746
        pathType: ImplementationSpecific
