nfs:
  server: {{ nfs.server }}
  path:   {{ nfs.path }}
{% if 'mount_options' in nfs %}
  mountOptions:
{% for item in nfs.mount_options %}
  - {{ item }}
{% endfor %}
{% endif %}

{% if 'storage_class' in nfs %}
storageClass:
  name:          {{ nfs.storage_class.name if 'name' in nfs.storage_class }}
  reclaimPolicy: {{ nfs.storage_class.reclaim_policy if 'reclaim_policy' in nfs.storage_class }}
  onDelete:      {{ nfs.storage_class.on_delete if 'on_delete' in nfs.storage_class }}
  pathPattern:   {{ nfs.storage_class.path_pattern if 'path_pattern' in nfs.storage_class }}
  accessModes:   {{ nfs.storage_class.access_modes if 'access_modes' in nfs.storage_class }}
{% endif %}
{% if 'leader_election' in nfs %}
leaderElection:
  enabled: {{ nfs.leader_election.enabled if 'enabled' in nfs.leader_election }}
{% endif %}

