apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  namespace: {{ traefik_namespace }}
  name:      traefik-dashboard
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`{{ traefik_fqdn }}`) {{ ('|| Host(`' + traefik_fqdn2 + '`)') if traefik_fqdn2 is defined and traefik_fqdn2|length }}
#    middlewares:
#    - name: traefik-dashboard-http-auth
    services:
    - kind: TraefikService
      name: api@internal
  tls:
    certResolver: letsencrypt
    domains:
      - main: "{{ traefik_domain }}"
        sans:
        - "*.{{ traefik_domain }}"
{% if traefik_subdomain != "" %}
        - "{{ traefik_subdomain}}.{{traefik_domain }}"
        - "*.{{ traefik_subdomain}}.{{traefik_domain }}"
{% endif %}
{% if traefik_domains_additional is defined %}
{% for item in traefik_domains_additional %}
        - "{{ item }}"
{% endfor %}
{% endif %}
