configInline:
  address-pools:
  - name:     loadbalanced
    protocol: layer2
    addresses:
    - "{{ metallb_pool_address }}"
    auto-assign: false
    # only services can get an address from the pool
    # which have the following annotation:
    #
    # metallb.universe.tf/address-pool: loadbalanced
