# {{ metallb_helm_chart_version_canonical }}
{% if metallb_helm_chart_version_canonical is version("1.13.0", '>=' ) %}
configInline:
  address-pools:
  - name:     loadbalanced
    protocol: layer2
    addresses:
    - "{{ metallb_pool_address }}"
    auto-assign: false
    # only services can get an address from the pool
    # which have the following annotation:
    #
    # metallb.universe.tf/address-pool: loadbalanced

psp:
  create: {{ metallb_psp_enabled }}
{% else %}
xxx:
  test
{% endif %}
