apiVersion: v1
kind: Service
metadata:
  namespace: {{ traefik_forward_auth_namespace }}
  name:      traefik-forward-auth
spec:
  ports:
  - name:       http
    port:       4181
    protocol:   TCP
    targetPort: 4181
  selector:
    app: traefik-forward-auth
